{% extends "BangpoundInstagramBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@leaflet_css' '@leaflet_draw_css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
    <style>
        #map { height: 100vh; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@leaflet_js' '@leaflet_providers_js' '@leaflet_draw_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        (function () {
        var map = L.map('map').setView([51.505, -0.09], 13),
                drawnItems = new L.FeatureGroup();

        L.tileLayer.provider('MapBox.bangpound.ij8i95a0').addTo(map);

        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                position: 'topleft',
                polygon: false,
                polyline: false,
                marker: false,
                rectangle: false,
                circle: {
                }
            },
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        map.on('draw:created', function (e) {
            var type = e.layerType,
                    layer = e.layer;

            var latLng = layer.getLatLng();
            var radius = layer.getRadius();

            $('#form_lat').val(latLng.lat);
            $('#form_lng').val(latLng.lng);
            $('#form_distance').val(radius);

            drawnItems.addLayer(layer);
        });
        }());


    </script>
{% endblock %}

{% block content %}
    {{ form(form) }}
    <div id="map"></div>
{% endblock %}
